const env = {

    PORT:"4020",
    MANAGER_CHECK_INTERVAL: 3 * 1000,
    UPLOAD_EXPIRE_TIME: 3600 * 1000,
    MANAGER_UPLOAD_EXPIRE_INTERVAL: 640 * 1000,

    TEMP_STAGE_DIR:"/storage/temp",
    LOBBY_STAGE_DIR:"/storage/lobby",
    VERIFIED_STAGE_DIR:"/storage/verified",

    DB_HOST: "localhost",
    DB_USERNAME:"",
    DB_PASSWORD: "",
    DB_NAME: "convertor",

    DLHOST_VERBOSE:false,
    DLHOST_DOMAIN:"",
    DLHOST_USERNAME:"",
    DLHOST_PASSWORD:"",
    DLHOST_SECURE_MODE:false,
}

module.exports = env;